<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191310674371-slc2dbvf9pn3prd2vcisnfem7s03caqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191310674371-slc2dbvf9pn3prd2vcisnfem7s03caqf</string>
	<key>API_KEY</key>
	<string>AIzaSyDb1vJAxpQLJSrNzjGWmyHUo5eeFbulLvA</string>
	<key>GCM_SENDER_ID</key>
	<string>191310674371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allthewayhome.app</string>
	<key>PROJECT_ID</key>
	<string>allthewayhome-b3ee9</string>
	<key>STORAGE_BUCKET</key>
	<string>allthewayhome-b3ee9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191310674371:ios:2aeffc4e322bb2f186a576</string>
	<key>DATABASE_URL</key>
	<string>https://allthewayhome-b3ee9-default-rtdb.firebaseio.com</string>
</dict>
</plist>